<div class="adminbar">
	<div class="row">
		<div class="col-md-1">
			<a href="/">
				<div class="btn btn-success">
					View
				</div>
			</a>
		</div>
		<div class="col-md-1">
			<a href="/edit">
				<div class="btn btn-primary">
					Edit
				</div>
			</a>
		</div>
	</div>
</div>