<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="css/app.css" />

		<link rel="stylesheet" href="css/style.css" />
		<script src="js/script.js"></script>
	</head>
	<body>
		{{ template "adminbar" . }}
		{{ template "content" . }}
	</body>
</html>